

# Ignoring Backend local config and dependencies
*.pyc
/media
__pycache__/
*.egg-info/
.vscode/
.idea/
*.pyc
*.pyo
*.swp

backend/Pipfile.lock
backend/db.sqlite3
backend/media/
*.sqlite3
*.pdf
*.lock

#backend environment file

.env
.env.dev
.env.prod
.env.prod.db